{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
<!-- website title -->
{% block title %} 訂單管理 {% endblock title %}

{% block content %}
<!-- website content -->

<script>
    $(document).ready(function(){
        $("#keyword").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#orderlist tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


{% for i in orderData %}
<div class="modal fade" id="staticBackdrop{{i.訂單編號}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">訂單細項列表</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <table class="table table-bordered">
                        <tr>
                            <th><center>商品名稱</center></th>
                            <th><center>商品單價</center></th>
                            <th><center>訂購數量</center></th>
                        </tr>
                            
                        {% for j in orderDetail %}
                        {% if j.訂單編號 == i.訂單編號 %}
                        <tr>
                            <td> <center>{{ j.商品名稱 }}</center></td>
                            <td> <center>{{ j.商品單價 }}</center></td>
                            <td> <center>{{ j.訂購數量 }}</center></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" style="width:30%;">回訂單</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<br/>

<div class="d-flex col-sm-4">
    <span class="input-group-text" id="basic-addon1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </span>
    <input class="form-control me-2" id="keyword" placeholder="搜尋訂單" aria-label="Search">
</div>
<br/>

<div class="container-xxl">
<table class="table table-bordered">
    <thead>
        <tr>
            <!-- <th width="10%">商品編號</th> -->
            <th width="15%"><center>訂購人</center></th>
            <th width="15%"><center>訂單總價</center></th>
            <th width="25%"><center>訂單時間</center></th>
            <th><center>訂單操作</center></th>
        </tr>
    </thead>
    <tbody id="orderlist">
    {% for i in orderData %}
        <tr>
            <td><center>{{ i.訂購人 }}</center></td>
            <td><center>{{ i.訂單總價 }}</center></td>
            <td><center>{{ i.訂單時間 }}</center></td>
            <td><center>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{i.訂單編號}}">
                    查看訂單細項
                </button>
            </center></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}