{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}購物車清單{% endblock title%}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">
  alert('您沒有使用者的權限喔！');
</script>

{% endif %}
{% endwith %}

<br/>

<div class="container-xxl">
  <center>
    <img width="50%" height="50%" src="../static/img/empty_cart.png">
  </center>
  <center>
    
      <a href="{{ url_for('bookstore.bookstore') }}">
        <button class="btn btn-outline-success" style="width:30%;">
          繼續購物
        </button>
      </a>
      
  </center>
  
  
</div>

{% endblock content%}